/* Hero Section */
.hero {
  background: #000000;
  background: -webkit-linear-gradient(to left, #434343, #000000); 
  background: linear-gradient(to left, #434343, #000000); 
  
  padding: 200px 0;
}

.image__mat{
  width: 900px;
  height: 600px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.hero__heading {
  font-size: 100px;
  margin-bottom: 24px;
  color: rgb(170, 169, 169);
}

.hero__heading span{
  background: #abbaab; 
  background: linear-gradient(to right, #ffffff, #abbaab);
  
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.highlight {
  border-bottom: 5px solid rgb(115,200,169);
}

@media  screen and (max-width: 1100px) {
  .hero__heading {
    font-size: 60px;
  }

  .hero__description {
    font-size: 40px;
  }

}
