/* Projects Section */
.projects {
  background: #000000;
  background: -webkit-linear-gradient(to left, #434343, #000000); 
  background: linear-gradient(to left, #434343, #000000); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
}

.projects h1 {
    background-color: #f0f0f0;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}


.projects__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.projects__card {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background: rgb(115,200,169);
  background: linear-gradient(90deg, rgba(115,200,169,1) 0%, rgba(0,115,98,1) 100%);
  transition: 0.3s ease-in;
}

.projects__card:nth-child(2) {
  background: rgb(115,200,169);
  background: linear-gradient(90deg, rgba(115,200,169,1) 0%, rgba(0,115,98,1) 100%);

}

.projects__card:nth-child(3) {
  background: rgb(115,200,169);
  background: linear-gradient(90deg, rgba(115,200,169,1) 0%, rgba(0,115,98,1) 100%);
}

.projects__card h2 {
  text-align: center;
}

.projects__card p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.projects__btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.projects__card button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #000000;
  font-size: 1rem;
}

.projects__card button:hover {
  cursor: pointer;
}

.projects__card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.projects__page .projects__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr;
}


@media screen and (max-width: 1300px) {
  .projects__wrapper {
    grid-template-columns: 1fr 1fr;
  }
  
}

@media screen and (max-width: 768) {
  .projects__wrapper {
    grid-template-columns: 1fr;

  }
}